.button.is-primary {
  background-color:orange ;
  padding-bottom:5px;
}

.button.is-primary:hover {
  background-color:rgb(243, 242, 240);
}

.title {
  color: black;
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
}

#inner-large-banner {
  height: 20%;
  width: 50%;
  background-size: cover;
  background-position: 25% 25%;
}

.product-title {
  font-size:2em;
}

a{
  margin-right: 25px;
  text-decoration:None;
}
b{
  height:10px;
  width:30px;
}